/fenv
nenv
image/__pycache__
image/schecma/__pycache__
bucket/__pycache__
bucket/migrations
bucket/migration
bucket/migrations/__pycache__

/__pycache__
image/apifolder/v1/__pycache__
image/apifolder/__pycache__
db.sqlite3